<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New User</button>
<ul *ngIf="loaded && users?.length>0" class="list-unstyled">
  <li *ngFor="let user of users" class="card card-body mb-2" [class.bg-light]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''">
    <div class="row">
      <div class="col-sm-4">
        <img *ngIf="user.image" [src]="user.image" alt="" class="img-fluid">
      </div>
      <div class="col-sm-8">
          <h3 [ngStyle]="currentStyles">{{user.firstName | uppercase}} {{user.lastName | lowercase}}</h3>
          <ul *ngIf="showExtended && user.age && user.address" class="list-group">
            <li class="list-group-item">Lives in {{user.address.street}}, {{user.address.city}}, {{user.address.state}}</li>
            <li class="list-group-item">Age: {{ user.age }}</li>
            <li class="list-group-item">Balance: {{user.balance | currency:"GBP"}} until {{1 | percent}}</li>
            <li class="list-group-item">Joined: {{user.registered | date : "yyyy" }}</li>

          </ul>
      </div>
    </div>
  
  </li>
</ul>

<!-- <ng-template #curUsers>There are less than 3 users</ng-template> -->
<h1 *ngIf="users?.length==0">No users found</h1>

<h2 *ngIf="!loaded">Loading Users...</h2>